footer {
  background-color: var(--secondary-bg);
  color: var(--alternative-text);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
}
