:root {
  --header-bg: #202248;
  --primary-bg: #141526;
  --secondary-bg: #0b0c15;
  --primary-text: #ffffff;
  --secondary-text: #96c300;
  --alternative-text: #a1a1a1;
  --main-font: "Nunito", Arial, sans-serif;
  --secondary-font: "Lato", Arial, sans-serif;
}
